body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(232, 213, 188);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(5, 5, 152, 0.638);
    color: rgb(248, 229, 202);
    padding: 5px 10px;
}

.logo {
    margin: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 10px
}

.navbar a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.navbar a:hover,
.navbar a.active {
    color: rgba(5, 5, 152, 0.638);
    background-color: white;
}

.slider {
    width: 100%;
    overflow: auto;
    position: relative;
}

.slide-wrapper {
    display: flex;
    width: 200%;
    transition: transform 1s ease-in-out;
}

.slider-image {
    width: 100px;
    flex-shrink: 0;
    height: auto;
}

.container {
    display: flex;
    margin: 2rem;
    gap: 2rem;
}

.content article,
.sidebar-widget {
    background-color: azure;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 7px rgb(70, 69, 71 );
}

.content img {
    width: 100%;
    border-radius: 5px;
}

.sidebar-widget ul {
    list-style: square;
}

.sidebar-widget ul li a {
    color: #333;
    text-decoration: none;

}

.sidebar-widget ul li a:hover {
    font-weight: bold;
}

.sidebar-widget h3 {
    text-decoration: underline;
}
footer{
    background-color: rgba(5, 5, 152, 0.638); 
    color: white;
    padding: 30px 20px;
    text-align: center;
}

.footer_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer_tagline {
    font-size: 17px;
}
footer a {
    color: rgb(243, 243, 59);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer_copy {
    font-size: 12px;
    margin-top: 30px;
}

.container_destination {
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;

}

.grid {
     display: grid;
     grid-template-columns: auto auto auto;
     gap: 20px
}

.destination_card {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 5px 5px 7px rgba(22, 22, 23, 0.1);
}

.destination_card h3 {
    color: #333;
    margin-top: 0;
}

.destination_card p {
    color: #555;
    font-size: 0.95em;
    letter-spacing: 1px;
}

form {
    color: #333;
    display: grid;
    gap: 15px;
}

form label {
    font-weight: bold;
}

input,
textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    background-color: rgb(193, 178, 160);
}

form button {
    background-color: rgba(5, 5, 152, 0.638);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}